<h1 class="mt-4"><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Email : <%= @user.email %></p>
<p>Ville : <%= @user.city.name %></p>

<h2 class="mt-4">Potins</h2>
<% @user.gossips.each do |gossip| %>
  <div class="gossip-card">
    <h3><%= link_to gossip.title, gossip_path(gossip) %></h3>
    <p><%= truncate(gossip.content, length: 150) %></p>
  </div>
<% end %>
