<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>Publié par : <%= link_to @gossip.author.name, user_path(@gossip.author) %></p>
<p>Ville : <%= link_to @gossip.author.city.name, city_path(@gossip.author.city) %></p>

<%= link_to 'Modifier', edit_gossip_path(@gossip) %> |
<%= link_to 'Supprimer', gossip_path(@gossip), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>Publié par : <%= link_to @gossip.author.name, user_path(@gossip.author) %></p>
<p>Ville : <%= link_to @gossip.author.city.name, city_path(@gossip.author.city) %></p>

<%= link_to 'Modifier', edit_gossip_path(@gossip) %> |
<%= link_to 'Supprimer', gossip_path(@gossip), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
<% if user_signed_in? %>
  <% if @gossip.likes.find_by(user: current_user) %>
    <%= button_to "Retirer le like", gossip_like_path(@gossip, @gossip.likes.find_by(user: current_user)), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= button_to "Liker", gossip_likes_path(@gossip), method: :post, class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>Connectez-vous pour liker ce potin.</p>
<% end %>
